* {
  margin: 0;
}

.cell {
  /* width: 50px;
  height: 50px; */
  user-select: none;
  box-sizing: border-box;
  line-height: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100dvh;
  width: 100vw;
  margin: 0;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}



.board {
  background-color: black;


  width: 500px;
  height: 500px;
  max-width: 80vh;
  max-height: 80vh;

  display: grid;
  grid-template-columns: var(--grid-size, 1fr);
  grid-template-rows: var(--grid-size, 1fr);

  .cell {
    max-width: calc(500px / var(--grid-size));
    max-height: calc(500px / var(--grid-size));
    width: calc(500px / var(--grid-size));
    height: calc(500px / var(--grid-size));
    overflow: hidden;
  }


  border-style: solid;
  border-color: black;  
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}



.board-container p {
    color: white;
}

.symbol {
  max-width: 100%;
  max-height: 100%;
  width: auto; /* Ensures the aspect ratio is preserved */
  height: auto;
  object-fit: contain; /* Keeps the image proportionate */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  user-select: none;
  position: relative;
}

.stopwatch .display {
  color: white;
}

.full-game {
  color: white;
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;

  grid-template-columns: 6fr 1fr;
}

#placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generate-puzzles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
}

.loading-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)

}

button {
  background-color: #222222;
  color: white;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
}

.x-switch {
  width: fit-content;
}

input[type="checkbox" i] {
  background-color: red;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.instructions {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.instructions .play-link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid white;
  border-radius: 10px;


}

.play-link:hover {
  background-color: #333333;
}
