.cell {
  width: 50px;
  height: 50px;
  user-select: none;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.board {
  background-color: black;

  width: fit-content;

  display: grid;
  grid-template-columns: var(--grid-size, 1fr);
  grid-template-rows: var(--grid-size, 1fr);


  border-style: solid;
  border-color: black;

  
}

.board-container p {
    color: white;
}

.symbol {
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
}

.stopwatch .display {
  color: white;
}